<?xml version="1.0"?>
<phpunit
	bootstrap="bootstrap.php"
	colors="false"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	failOnWarning="true"
	failOnRisky="true"
>
	<testsuites>
		<testsuite name="hprnb">
			<directory suffix="-test.php">./tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
